<div class="row">
    <a ui-sref="stations" class="btn btn-default">Terug naar overzicht  </a>
    <div class="row">
        <div class="col-md-6">
            <h1>{{ ::detail.strippedName }}</h1>
            <hr>
            <h2>Adres</h2>
            <p>{{::detail.currentStation.address}} - {{::detail.currentStation.addressNumber}}
            <br>
            {{::detail.currentStation.zip}}</p>
            <hr>
            <h2>Status</h2>
            <p>{{::detail.currentStation.status}}</p>
            <p>slots:{{::detail.currentStation.slots}}</p>
            <p>bikes:{{::detail.currentStation.bikes}}</p>
            <hr>
            <div class="list-group">
                <p class="list-group-item active">
                    Locaties dichtbij
                </p>
                <div ng-repeat="station in detail.nearbyStations track by $index">
                    <a ui-sref="detail({ id: detail.stations[station].id })" class="list-group-item">{{ ::detail.stations[station].name }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <img class="img-responsive" src='https://maps.googleapis.com/maps/api/staticmap?markers={{ ::detail.currentStation.lat }},{{ ::detail.currentStation.lon }}&zoom=16&size=400x400' alt="">
        </div>
    </div>

</div>
