<div class="row">
    <h1>{{ ::home.title }}</h1>
    <h3>Search your area</h3>
    <button ng-click="home.storage.counter = home.storage.counter + 1">{{home.storage.counter}}</button>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Search:</label>
        <input ng-model="searchText" class="form-control" id="exampleInputEmail1" placeholder="search">
      </div>
    </form>
</div>
<div class="row">
    <h2 ng-if="home.stations">Results</h2>
    <section ng-if="home.station">{{ ::home.exception }}</section>
    <md-list>
        <md-list-item class="list-group-item" dir-paginate="station in home.stations | itemsPerPage: 10 | filter:searchText track by $index">
            <md-button ui-sref="detail({id: station.id })">
                <h4 class="list-group-item-heading">
                    {{ station.name | lowercase }}
                </h4>
            </md-button>
        </md-list-item>
    </md-list>
</div>

<dir-pagination-controls></dir-pagination-controls>
<!--
<example-directive>foobar</example-directive> -->
